In [1]:
import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset=pd.read_csv("reduced_dataset.csv")

In [4]:
dataset

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,accident_history,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,19,1,2018,94000,181,0,1,0,3,2,3,5,2,0,2,1,7,13428.571429,0.040148,19226.82
1,18,68,2021,94190,464,1,1,1,5,0,3,2,2,0,0,5,4,23547.500000,0.040210,60435.02
2,1,7,2020,76853,325,1,0,0,5,3,2,1,2,1,1,5,5,15370.600000,0.040022,28708.28
3,19,0,2017,109290,223,1,2,2,3,4,0,5,2,0,2,5,8,13661.250000,0.040148,18938.64
4,7,39,2019,40701,212,0,2,0,4,4,3,3,2,1,2,2,6,6783.500000,0.039842,18487.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8,9,2021,65349,170,0,2,2,4,0,2,1,2,0,0,5,4,16337.250000,0.039754,27227.54
996,16,80,2009,220415,322,0,1,0,5,5,2,5,0,0,2,0,16,13775.937500,0.039794,7112.87
997,13,78,2020,135697,400,1,1,2,4,4,1,4,1,0,2,0,5,27139.400000,0.040133,41265.44
998,12,92,2014,191197,97,1,2,0,5,4,0,5,2,1,2,3,11,17381.545455,0.040484,1500.00
999,13,29,2024,16362,425,1,1,0,4,3,2,2,2,0,2,2,1,16362.000000,0.040133,70796.08

In [5]:
dataset.columns

Index(['make', 'model', 'year', 'mileage', 'engine_hp', 'transmission',
       'fuel_type', 'drivetrain', 'body_type', 'exterior_color',
       'interior_color', 'owner_count', 'accident_history', 'seller_type',
       'condition', 'trim', 'vehicle_age', 'mileage_per_year',
       'brand_popularity', 'price'],
      dtype='object')

In [6]:
independent=dataset[['make', 'model', 'year', 'mileage', 'engine_hp', 'transmission',
       'fuel_type', 'drivetrain', 'body_type', 'exterior_color',
       'interior_color', 'owner_count', 'accident_history', 'seller_type',
       'condition', 'trim', 'vehicle_age', 'mileage_per_year',
       'brand_popularity']]

In [7]:
dependent=dataset[['price']]

In [8]:
#Random Forest
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100, criterion ='poisson', random_state=0)
regressor.fit(X_train,y_train)
y_predict=regressor.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_predict)
print(r_score)

0.937597169397364

In [10]:
import pickle
filename="model_rf.sav"
pickle.dump(y_predict,open(filename,'wb'))

In [13]:
dataset

,make,model,year,mileage,engine_hp,transmission,fuel_type,drivetrain,body_type,exterior_color,interior_color,owner_count,accident_history,seller_type,condition,trim,vehicle_age,mileage_per_year,brand_popularity,price
0,19,1,2018,94000,181,0,1,0,3,2,3,5,2,0,2,1,7,13428.571429,0.040148,19226.82
1,18,68,2021,94190,464,1,1,1,5,0,3,2,2,0,0,5,4,23547.500000,0.040210,60435.02
2,1,7,2020,76853,325,1,0,0,5,3,2,1,2,1,1,5,5,15370.600000,0.040022,28708.28
3,19,0,2017,109290,223,1,2,2,3,4,0,5,2,0,2,5,8,13661.250000,0.040148,18938.64
4,7,39,2019,40701,212,0,2,0,4,4,3,3,2,1,2,2,6,6783.500000,0.039842,18487.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,8,9,2021,65349,170,0,2,2,4,0,2,1,2,0,0,5,4,16337.250000,0.039754,27227.54
996,16,80,2009,220415,322,0,1,0,5,5,2,5,0,0,2,0,16,13775.937500,0.039794,7112.87
997,13,78,2020,135697,400,1,1,2,4,4,1,4,1,0,2,0,5,27139.400000,0.040133,41265.44
998,12,92,2014,191197,97,1,2,0,5,4,0,5,2,1,2,3,11,17381.545455,0.040484,1500.00
999,13,29,2024,16362,425,1,1,0,4,3,2,2,2,0,2,2,1,16362.000000,0.040133,70796.08

In [15]:
# Save the trained model
filename = "model_rf.sav"
pickle.dump(regressor, open(filename, 'wb'))

# Load the model
loaded_model = pickle.load(open("model_rf.sav", 'rb'))

# Use the loaded model for prediction
result = loaded_model.predict([[13,29,2024,16362,425,1,1,0,4,3,2,2,2,0,2,2,1,16362.00,0.040133]])
print("Prediction:", result)

Prediction: [59400.0002]